@import '../../../assets/scss/variables';

.close {
  &::after {
    color: $modal-x-button-background;
    content: 'x';
    font-size: 16px;
  }
}

.modal-content {
  background-color: $modal-background;
  color: $modal-color;
}

.modal-dialog {
  max-width: 90%;
}

.modal-body {
  word-break: break-all;
}
