$background-color: #fff;
$menu-color-active: #000;
$menu-color: #007bff;

$font-color: #000;

$clear-background: #dc3545;
$clear-background-hover: #a52431;
$clear-color: #fff;

$modal-x-button-background: #fff;
$modal-background: #f00;
$modal-color: #fff;

$transition-time: 500ms;
