@import '../../../../../assets/scss/variables';

.make-relative {
  position: relative;
}

.no-padding-left {
  padding-left: 0;
}

.padding-right {
  padding-right: 45px;
}

.clear {
  background-color: $clear-background;
  border-radius: 50%;
  color: $clear-color;
  cursor: pointer;
  height: 20px;
  line-height: 18px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 6px;
  transition: background-color $transition-time ease-in-out;
  width: 20px;

  &:hover {
    background-color: $clear-background-hover;
    transition: background-color $transition-time ease-in-out;
  }
}
