<ng-container *ngIf="!isEdit">
  {{ wordValue }}
</ng-container>
<ng-container *ngIf="isEdit">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 no-padding-left">
        <div class="form-group no-margin-bottom make-relative">
          <div class="clear" (click)="clearField($event)">x</div>
          <input #word type="text" class="form-control padding-right" [formControl]="wordInput"
            id="word" placeholder="Enter word" (keydown)="saveOnEnter($event)"
          />
        </div>
      </div>
      <div class="col-4">
        <button class="btn btn-primary" (click)="saveWord()">Save</button>
      </div>
    </div>
  </div>
</ng-container>
