@import '../../../../../assets/scss/variables';

.card {
  margin-bottom: 1rem;
}

.actions {
  width: 260px;
}

.id {
  width: 50px;
}

.word {
  width: 370px;
}

.btn {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
